.mainnavigation{
    display:flex;
    flex-direction: column;
    gap:4em;
    /* height:100%; */
}

.mainnavigation .links{
    display:flex;
    flex-direction: column;
    gap:1em;
}

.mainnavigation .links > a{
    /* margin:.5em 0; */
    padding:.8em 1em;
}

.mainnavigation a{
    display:flex;
    gap:1em;
    align-items: center;
    text-transform: capitalize;
    font-weight:600;
    color:var(--inactive-link);
}

.mainnavigation a.active{
    color:white;
    background:var(--active);
    border-radius:5px;
}

.mainnavigation .links a svg{
    font-size:var(--fs-xxl);
}

.mainnavigation .hr{
    background:var(--nav-line);
    height:2px;
    margin:1em 0;
}

.mainnavigation .add-group{
    position:absolute;
    top:0;
    right:0;
    cursor: pointer;
}

.mainnavigation .add-group svg{
    font-size:var(--fs-xxl);
    pointer-events: none;
}

.mainnavigation .dropdown-container{
    position:relative;
}


.mainnavigation{
    /* border:1px solid red; */
    padding-bottom:2em;
}