.smallmodal{
    /* border:1px solid red; */
    position:fixed;
    left:0;
    top:0;
    z-index:999;
    background:rgba(0,0,0,.7);
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.smallmodal >div{
    background:var(--dark-2);
    padding:1em;
    border-radius:5px;
    min-width:400px;
    animation : zoomOut 500ms ease forwards;
}

.smallmodal p{
    margin-top:.5em;
    opacity:.7;
}