.close-btn{
    color:rgb(177, 177, 177);
}

.creategroup{
}

.creategroup form {
}

.slide{
    animation : slide 400ms ease forwards;
}

.creategroup .form-steps{
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    gap:1.5em;
    color:rgb(100, 100, 100);
    font-size:var(--fs-xl);
}

.creategroup .loader{
    display:flex;
}

.creategroup .form-steps p{
    margin-right:auto;
}

.creategroup .form-steps .back-btn,
.creategroup .form-steps .close-btn{
    display:flex;
    align-items: center;
    cursor: pointer;
}

.creategroup .form-steps svg{
    pointer-events:none;
    font-size:var(--fs-xxl);
}

.creategroup .empty-void{
    height:24px;
    width:24px;
}


.creategroup form{
    margin-top:7em;
}

.creategroup form .form-field{
    /* background:pink; */
    display:flex;
    flex-direction: column;
    gap:1em;
}

.creategroup form h1{
    max-width:500px;
    margin-bottom:1.5em;
    font-size:var(--fs-xxl);
    font-weight:600;
    line-height:1.5;
    color:var(--white);
}

.creategroup .form-field .input{
    position:relative;
    position:relative;
    max-width:600px;
}

.creategroup input,
.creategroup textarea{
    background:transparent;
}

.creategroup .input input.error{
    border-bottom:2px solid red !important;
    color:red;
}

.creategroup .input input.error + label{
    color:red;
}

.creategroup small.error{
    color:Red;
    position:absolute;
    bottom:-2em;
    display:block;
}

.creategroup .invalid-icon{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:var(--fs-xxl);
    color:red;
}

.creategroup .valid-icon{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:var(--fs-xxl);
    color:green;
}

.creategroup .input input,
.creategroup .input textarea{
    border:none;
    border-bottom:2px solid rgb(125, 125, 125);
    outline: none;
    width:100%;
    width:500px;
    height:100%;
    font-size:var(--fs-xxxl);
    color:var(--blue);
    font-weight:bold;
    padding-bottom:.2em;
}

.creategroup .input input:focus,
.creategroup .input input.focus,
.creategroup .input textarea:focus,
.creategroup .input textarea.focus{
    border-bottom:3px solid var(--dark-blue);
}

.creategroup .input input.focus + label{
    transform:translate(-0px,-34px)scale(.4);
}


.creategroup .input textarea.focus + label{
    transform:translate(-0px,-200px)scale(.4);
    
}

.creategroup .input textarea.focus,
.creategroup .input textarea:focus{
    height:200px;
    border-left:1px solid gray;
    border-top:1px solid gray;
    border-right:1px solid gray;
    padding:.5em;
}


.creategroup .spinner{
    font-size:var(--fs-xxl);
    position:absolute;
    right:-1.5em;
    /* border:1px solid red; */
    height:100%;
    color:var(--blue);
}

.creategroup .input label{
    font-size:var(--fs-xxl);
    position:absolute;
    bottom:.2em;
    left:0;
    z-index:999;
    pointer-events: none;
    background: transparent;
    transition:transform 200ms ease;
    transform-origin:left;
    font-weight:600;
    color:var(--white);
    opacity:.5;
}

.creategroup  button.btn{
    padding:.5em 2em;
    font-size:var(--fs-xl);
    border:none;
    /* background:var(--black); */
    background:var(--discord-purple);
    color: white;
    border-radius:5px;
    margin-top:4em;
    cursor: pointer;
}

.creategroup button.btn:hover{
    /* background:rgb(67, 66, 66); */
    background:var(--discord-purple-dark);
}

.creategroup textarea[name = "description"]{
    font-size:var(--fs-l);
}


.creategroup button.btn:disabled{
    opacity:.5;
}


@media only screen and (min-width : 900px){
    .creategroup .input label,
    .creategroup form h1{
        font-size:var(--fs-xxxl);
    }
    
    .creategroup form{
        /* border:1px solid red; */
        margin-left:3em;
    }

    .creategroup .form-steps{
        flex-direction:row;
    }

    .creategroup  button.btn{
    }
}

