.grouplist-container{
    /* padding:.5em; */
    display:flex;
}

.grouplist .group{
    height:45px;
    width:45px;
    /* border-radius:50%; */
    border-radius:5px;
    cursor:pointer;
    padding:.5em;
    /* margin:1em 0; */
    font-weight:600;
    /* box-shadow:0px 0px 20px rgb(220, 220, 220); */
    background:rgb(244, 241, 241);
}

.image{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform:capitalize;
}

.grouplist{
    display:flex;
    flex-direction: column;
    gap:.5em;
    margin-left:auto;
    margin-right: auto;
}

.grouplist .group-tooltip{
    position:relative;
}

.grouplist .group-tooltip-text{
    background:var(--black);
    font-size:var(--fs-s);
    color:var(--white);
    white-space: nowrap;
    position:absolute;
    z-index:999;
    top:50%;
    transform:translateY(-50%);
    left:calc(100% + 2em);
    padding:.5em .8em;
    border-radius:4px;
    font-weight:600;
    display:none;
}

.grouplist .group-tooltip .image:hover ~ .group-tooltip-text{
    display:block;
}


.grouplist .group-tooltip-text span{
    content : "";
    position: absolute;
    height: 21px;
    width: 20px;
    left: 0;
    top: 50%;
    transform: translate(-5%,-50%)rotate(42deg);
    background: var(--black);
    z-index: -1;
    border-radius: 1px;
}

.grouplist .group .image svg{
    font-size:var(--fs-xl);
}

.group{
}

.group:hover .delete-group-icon{
    display:flex;
}

.group .delete-group-icon svg path{
    pointer-events: none;
}

.group .delete-group-icon svg{
}

.group .delete-group-icon{
    position:absolute;
    right:-.5em;
    top:-.5em;
    cursor: pointer;
    /* padding-left:1em; */
    /* padding-bottom:1em; */
    /* display:none; */
    background:var(--blue);
    display:none;
    justify-content: center;
    align-items: center;
    padding:.2em;
    border-radius:50%;
    color:var(--white);
}

.grouplist hr{
    padding:.1em;
    background:rgba(199, 199, 199, 0.167);
    border:none;
    border-radius:5px;
}