.dropdownskeleton ul{
    display:flex;
    flex-direction: column;
    gap:1em;
}

.dropdownskeleton ul li{
    height:40px;
    background:rgb(0, 0, 0);
    border-radius:5px;
    /* animation:skeleton 1s infinite linear; */
}


@keyframes skeleton {
    0%,100%{
        background:rgb(65, 65, 65);
    }
    50%{
        background:rgb(71, 71, 71);
    }
    
}