.button1.bgred a{
    background:var(--red);
}

.button1 a{
    width:100%;
    opacity:.6;
    padding:1em 0;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight:bold;
    border-radius:5px;
}

.button1 a:hover{
    opacity:1;
}

