.inputfield{
    margin-bottom:1.5em;
    position: relative;
}

.inputfield .field{
    position:relative;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    gap:.7em;
}

.inputfield label{
    opacity:.8;
    display:flex;
    gap:.9em;
    align-items: center;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    margin-left:1em;
    transform-origin:left;
    transition:transform 200ms ease-in-out,
                opacity 200ms ease;
}

.inputfield label svg{
    font-size:var(--fs-xl);
}

.inputfield input:focus{
    color:var(--blue);
}

.inputfield input:focus ~ label,
.inputfield input.focus ~ label{
    transform:translate(2px,-23px)scale(.7);
    opacity:.7;
}

.inputfield input:focus ~ label{
    color:var(--dark-blue);
}

.inputfield input{
    padding:2em 1em .5em 1em;
    font-size:var(--fs-xl);
    width:100%;
    border:none;
    outline: none;
    background:transparent;
    border-radius:3px;
    background:#f5f5f5;
    border:2px solid #f1f1f1;
}

.inputfield input:focus{
    border:2px solid var(--dark-blue);
}

.inputfield .password-view-status{
    position:absolute;
    bottom:.5em;
    /* top:50%; */
    /* transform:translateY(-50%); */
    right:1em;
    font-size:var(--fs-xl);
    cursor: pointer;
}


.inputfield.error input{
    color:red;
}

.inputfield.error label,
.inputfield.error small{
    color:red;
}

.inputfield small.error{
    margin-left:10px;
}
/* 
.inputfield input:focus ~ label{
    transform:translate(-10px,-10px);
} */