.dropdown-container{
    color:white;
}

.dropdown h1{
    font-size:var(--fs-xl);
    font-weight:600;
    color:#7d8087;
}

.dropdown .top,
.dropdown .top div{
    display:flex;
    align-items: center;
    /* gap:1em; */
    padding:0 .5em;
}

.dropdown .top{
    justify-content: space-between;
}

.dropdown .top > div{
    cursor:pointer;
}

.dropdown .dropdown-items{
    display:flex;
    flex-direction: column;
    gap:.2em;
    margin-top:1em;
    max-height:200px;
    overflow-y:auto;
}

.dropdown .list-container::-webkit-scrollbar {
    width: 4px;
}

.dropdown .list-container{
    /* background:var(--dark-2); */
    /* border-radius:5px; */
    padding:1em 0;
} 

.dropdown .list-container{
}

.dropdown .dropdown-items li a{
    position:relative;
    padding:.7em 1em;
    text-transform: capitalize;
    color:var(--inactive-link);
    white-space: nowrap;
    display:flex;
    overflow:hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    width:100%;
}

.dropdown .dropdown-items li a p.text{
    max-width:170px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown .dropdown-items li:hover .cross{
    display:block;
}

.dropdown .dropdown-items li .cross{
    margin-left:auto;
    display: none;
    padding:0 1em 0 .5em;
    cursor: pointer;
}

.dropdown .dropdown-items li .cross svg{
    font-size:var(--fs-xs);
    pointer-events: none;
    color:rgb(192, 192, 192);
}

.dropdown span.error{
    font-size:var(--fs-s);
    opacity:.3;
    display:block;
    width:70%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
}

.dropdown .dropdown-items a:hover{
    color:white;
}

.dropdown-items li{
    display:flex;
    align-items: center;
}

.dropdown-items li:hover{
    background:var(--active);

}