.create-group .textarea{
    /* border:1px solid red; */
}

.create-group .textarea textarea{
    padding:.5em;
    resize:vertical;
    border:2px solid var(--gray-white);
    outline:none;
    width: 100%;
    height:100px;
}

.inputfield textarea:focus{
    border:2px solid var(--discord-blue);
    color:var(--discord-blue);
}


.create-group .textarea.error textarea{
    border:2px solid var(--error-red);
    color:var(--error-red);
} 

.create-group .textarea.error small.error{
    text-align: right;
    margin-top:-.7em;
}