.authcontainer{
    height:100vh;
    display:flex;
}

.authcontainer .bg img,
.authcontainer .bg{
    position:fixed;
    height:100%;
    width:100%;
    left:0;
    top:0;
    z-index:-1;
}

.authcontainer .bg img{
    object-fit:cover;
    object-position: left center;
}

.authcontainer .authform{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:3em;
    padding:2em;
    background:var(--dark-discord);
    /* border-radius:5px; */
    height:100%;
    transition:all 500ms ease;
    /* box-shadow:5px 5px 100px rgb(10, 10, 10); */
}

.authcontainer .authform form > small{
    display:block;
    margin-top:1em;
}

.authform form > small a{
    margin-left:.5em
}

.authcontainer__main >*{
    width:100%;
}

.authform .top-part{
    text-align: center;
}

.authform .top-part h1{
    font-weight:bold;
}

.authform .top-part p{
    opacity:.6;
    margin-top:.5em;
}

.authform .logo{
    /* border:1px solid red; */
    width:fit-content;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:2em;
}

.authcontainer__main{
    /* border:1px solid red; */
    width:100%;
    max-width:700px;
}

.authcontainer__main__logo{
    width:100%;
    max-width:500px;
    height:50px;
    display:flex;
    align-items:center;
}

.authcontainer__main__logo img{
    width:160px;
}

.authform h1{
    font-weight:600;
    font-size:var(--fs-xxxl);
    position:relative;
}

.authform h1:before{    
    content:"";
    position:absolute;
}

.authcontainer input[type = "submit"],
.authcontainer button{
    padding:1em 1.5em;
    width:100%;
    font-size:var(--fs-l);
    cursor:pointer;
    color:white;
    font-weight:bold;
    background:var(--green);
    border:none;
    border-radius:3px;
    margin-top:2em;
}

.authcontainer input[type = "submit"]:hover,
.authcontainer button:hover{
    background:rgb(3, 182, 3);
}

.authform span.error{
    display:block;
    margin-top:1em;
    color:rgb(167, 3, 3);
    background:rgba(255, 0, 0, 0.318);
    padding:.5em;
    border-radius:5px;
}

.authform .logo{
    /* margin-bottom:2em; */
}

.slidertl{
    animation:slidertl 500ms cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

.scaleDown{
    animation : scaleDown 600ms cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

@media only screen and (min-width : 700px){
    .authcontainer{
        justify-content: center;
        align-items:center;
    }

    .authcontainer .authform{
        width:92%;
        height:unset;
        margin:auto;
        border-radius:5px;
    }

    .authcontainer .authform .logo{
        display: none;
    }
}