.video-streams{
    height:calc(100vh - 87px);
    width:100%;
    /* display:flex;
    flex-wrap:wrap;
    justify-content: center; */
    /* display:grid;
    grid-template-columns:repeat(1,1fr); */
    display:flex;
    padding:2em 1em;
    gap:1em;
    flex-wrap:wrap;
    width:90%;
    max-width:1000px;
    margin-inline:auto;
    justify-content: center;
    align-items: center;
}


.video-container{
    min-width:400px;
    display:flex;
    flex-direction: column;
    gap: 0.5em;
    /* justify-content: center; */
    align-items: center;
    position:relative;
    /* border:1px solid red; */
    aspect-ratio : 1/1;
    width:fit-content;
}



.video-player{
    height:100%;
    border-radius:1em;
    overflow: hidden;
    width:100%;
}

.video-streams >*{
    /* width:100%; */
    height:350px;
    width:350px;
}

video{
    height:100%;
    width: 100%;
    /* object-fit:co  !important; */
    border-radius:1em;
    overflow: hidden;
    height:fit-content;
} 

.video > div{
    /* height:100%;
    width:100%;
    object-fit: cover;
    object-position: center; */
}

.controls{
    height:50px;
    width: 100%;
    background:pink;
    position:fixed;
    bottom:0;
    left:0;
}

.video-container.self{
    position:fixed;
    right:1em;
    bottom:calc(1em + 50px);
    z-index:999;
    transform:Scale(.7);
    transform-origin:right bottom;
}

.video-streams span.username{
    position:absolute;
    bottom:1em;
    right:1em;
    color:white;
    font-weight:600;
    background:rgba(255, 255, 255, 0.122);
    padding:.5em 2em;
    border-radius:5px;
    backdrop-filter: blur(5px);
    text-transform: capitalize;
}


@media only screen and (min-width : 800px){
    .video-streams{
        /* grid-template-columns:repeat(2,1fr); */
    }
    .video-container{
        /* height:400px; */
    }
    
}