/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px var(--dark-2) inset;
  -webkit-text-fill-color: var(--white) !important;
}

body{
    --black : #000;
    --green:#12b024;
    --blu:#3758A4;
    --dark-blue : #3A54AA;
    --blue : #62aeff;
    --body-bg : rgb(255, 255, 255);
    --light-gray:#F6F8F9;
    --inactive-link:#ACACAC;
    --dark : #000000;
    --nav-line:#EDEDED;
    --red :rgb(119, 19, 19);
    --sidebar-border:#E6EBED;
    --body-bg : #FEFEFF;
    --dark-hover : #000;
    
    --dark-discord:#2E3036;
    --light-discord:#37383F;

    --thumb:rgb(147, 147, 147);

    --active : var(--black);

    /* --light-gray:#37383F;
    --body-bg : #2E3036;
    --sidebar-border:#2E3036;
    --nav-line:#373B3E;
    --thumb:#191a1d;
    --discord-light:#7B7D84;
    --active : #3C3F45; */


    /* discord theme */
    --body-bg : #2E3036;
    --nav-line:#373B3E;
    --active : #3C3F45;
    --discord-light:#7B7D84;
    --dark-2:#35373e;
    --dark-3:rgb(24, 24, 24);
    --overlay:#968b8b66;
    --overlay:rgba(39, 36, 36, 0.912);
    --body-bg-2:#37393E;
    --body-bg-3:#212325;
    --white:rgb(207, 207, 207);
    --thumb:#191a1d;

    --discord-purple : #5964F2;
    --discord-purple-dark : #4952cb;

    /* ////////////// */

    /* --body-bg:#ffff; */
    --fs-s:.9rem;
    --fs-l:1rem;
    --fs-xl:1.2rem;
    --fs-xxl:1.5rem;
    --fs-xxxl:2rem;
    --fs-largest:2.5rem;

    --nav-height:30px;

    font-size:16px;

    background:var(--body-bg);
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Inter', sans-serif;
    overflow:auto;
    overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

::-webkit-scrollbar-thumb {
    background: var(--thumb);
    border-radius:10em;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a.link{
    color:var(--blue);
}

a.link:hover{
    text-decoration: underline;
}

a{
    text-decoration:none;
    color:unset;
}

.wrapper-1{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.nav-padding{
    padding-top:var(--nav-height);
}

.spinner{
    animation:spin 600ms linear infinite;
}

/* #app{
    border:3px solid red;
    overflow:hidden;
    height:100vh;
} */

@keyframes spin {
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

/* .sidebar.hidden{
    width:0;
    overflow:hidden;
    border:1px solid red;
    padding:0;
} */

body{
    color:white;
}

.customScrollbar{
    overflow-y: auto;
}



.sidebar{
    /* padding-left:2em;
    padding-right:2em; */
    position:relative;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar-thumb,
.customScrollbar::-webkit-scrollbar-thumb{
    display:none;
}

.sidebar:hover::-webkit-scrollbar-thumb,
.customScrollbar:hover::-webkit-scrollbar-thumb{
    display:block;
}

.sidebar:hover{
    overflow-y:auto;
}

.sidebar .widthToggler{
    /* position:absolute;
    left:-2em;
    top:2.5em; */
}

li{
    list-style: none;
}

.slidertl{
    animation : slidertl 500ms ease-in-out;
}

.slideltr{
    animation : slideltr 500ms ease-in-out;
}

.zoomOut{
    animation : zoomOut 500ms ease-in-out forwards;
}

.hashtag{
    margin-right:.5em;
    font-size:var(--fs-xl);
}

.circle-medium,
.circle-medium img{
    height:35px;
    width:35px;
    border-radius:50%;
}

@keyframes slidertl {
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(0%);
    }
}

@keyframes scaleDown {
    0%{
        opacity:0;
        transform:scale(1.1)translateY(-100px);
    }
    50%{
        opacity:1;
        transform:scale(1)translateY(10px);
    }
    100%{
        opacity:1;
        transform:scale(1)translateY(0px);
    }
}

@keyframes zoomOut {
    0%{
        opacity:0;
        transform:scale(1.2);
    }
    50%{
        opacity:1;
        transform:scale(.98);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
}

@keyframes slideltr {
    from{
        transform:translateX(-100%);
    }
    to{
        transform:translateX(0%);
    }
}



@media only screen and (min-width : 800px){
    body{
        --fs-largest:2.5rem;
    }
}