/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
body{
    --black : #000;
    --green:#12b024;
    --blu:#3758A4;
    --dark-blue : #3A54AA;
    --blue : #1B72E8;
    --body-bg : rgb(255, 255, 255);
    --light-gray:#F6F8F9;
    --inactive-link:#ACACAC;
    --dark : #000000;
    --nav-line:#EDEDED;
    --red :red;
    --sidebar-border:#E6EBED;
    --body-bg : #FEFEFF;
    --dark-hover : #000;
    
    --dark-discord:#2E3036;
    --light-discord:#37383F;

    --active : var(--black);

    /* --light-gray:#37383F;
    --body-bg : #2E3036;
    --sidebar-border:#2E3036;
    --nav-line:#373B3E;
    --thumb:#191a1d;
    --discord-light:#7B7D84;
    --active : #3C3F45; */

    --body-bg:#ffff;

    --fs-s:.9rem;
    --fs-l:1rem;
    --fs-xl:1.2rem;
    --fs-xxl:1.5rem;
    --fs-xxxl:2rem;
    --fs-largest:2rem;

    --nav-height:30px;

    font-size:14px;

    background:var(--body-bg);
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Inter', sans-serif;

    overflow:auto;
    overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

::-webkit-scrollbar-thumb {
    background: var(--thumb);
    border-radius:5em;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a.link{
    color:var(--blue);
}

a.link:hover{
    text-decoration: underline;
}

a{
    text-decoration:none;
    color:unset;
}

.wrapper-1{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.nav-padding{
    padding-top:var(--nav-height);
}

.spinner{
    animation:spin 600ms linear infinite;
}

@keyframes spin {
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

/* .sidebar.hidden{
    width:0;
    overflow:hidden;
    border:1px solid red;
    padding:0;
} */

.sidebar{
    /* padding-left:2em;
    padding-right:2em; */
    /* overflow-y:Scroll; */
    position:relative;
}

.sidebar::-webkit-scrollbar-thumb{
    display:none;
}


.sidebar:hover::-webkit-scrollbar-thumb{
    display:block;
}


.sidebar:hover{
    overflow-y:auto;
}

.sidebar .widthToggler{
    position:absolute;
    left:-2em;
    top:2.5em;
}

li{
    list-style: none;
}

.slidertl{
    animation : slidertl 300ms ease-in-out;
}

.slideltr{
    animation : slideltr 300ms ease-in-out;
}

.hashtag{
    margin-right:.5em;
    font-size:var(--fs-xl);
}

@keyframes slidertl {
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(0%);
    }
}

@keyframes slideltr {
    from{
        transform:translateX(-100%);
    }
    to{
        transform:translateX(0%);
    }
}



@media only screen and (min-width : 800px){
    body{
    }
}