@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    --error-red:rgb(237, 15, 15);
    --success-green:rgb(35, 209, 35);
    --dark-red:rgb(216, 0, 0);
    --black : #111111;
    --white : #fbfbfb;
    --greyish-white:#fffefed5;
    --dark-primary : #36393F;
    --dark-secondary : #2F3136;
    --dark-tertiary : #212325;
    --secondary-text:#fffefe92;
    --upper-secondary-text:#fffefeb8;
    --discord-blue : #5864F3;
    --discord-blue-dark : #4550c4;
    --discord-purple:mediumorchid;
    --blue : #048ae9;
    --blue-light : #318eff41;
    --secondary-text:#111111b0;
    --gray-white:rgba(233, 233, 233, 0.715);
    --gray-white-light:rgba(231, 231, 231, 0.318);
    --msg-box-sent:#00B2FF;
    /* --msg-box:#006AFF; */
    --msg-box-recieved:rgb(223, 223, 223);
    
    --fs-xs:.7rem;
    --fs-s : .9rem;
    --fs-n : 1rem;
    --fs-m : 1.05rem;
    --fs-ml:1.5rem;
    --fs-l : 1.2rem;
    --fs-xl : 2rem;

    font-family: 'Roboto', sans-serif;
    /* background:var(--white); */
}

.secondary-text{
    color:var(--secondary-text);
}

.small{
    font-size:var(--fs-s);
}

.no-scrollbar::-webkit-scrollbar{
    display:none;
}

::-webkit-scrollbar {
    width: 8px;
    left:-100px;
}

::-webkit-scrollbar-track {
    background:none;
    /* background:rgb(232, 232, 232); */
}
    
::-webkit-scrollbar-thumb {
    background:rgb(196, 189, 189);
    outline:none;
    border-radius:5em;
}

a{
    text-decoration: none;
    color:unset;
}

.grid-btns{
    display:flex;
    gap:.5em;

}
.grid-btns > button{
    width:100%;
}